<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="SAPServername" value="DOLSAP"/>
      <add key="SAPLicenseName" value="dolsap:40000"/>
      <add key="SLDSERVER" value="dolsap:40000"/>
      <add key="SAPUsername" value="manager"/>
      <add key="SAPPassword" value="dolphin"/>      
      <add key="database" value="OMANTEST13062022"/>
      <add key="SQLUserName" value="sa"/>
      <add key="SQLPassword" value="Pass@123"/>
    </appSettings>
</configuration>
